body {
 font-family: helvetica, arial, sans-serif;
 background: #e3e3e3;
 text-align: center;
}

/* MENU */

#nav {
 background: #e5e5e5;
 float: left;
 margin: 0px; padding: 0;
   border-bottom: none;
}

#nav li a, #nav li {
 float: left;
}

#nav ul li {
 list-style: none;
 position: relative;

}

#nav li a {
 padding: 1em 1em;
 text-decoration: none;
 color: white;
 background: #292929;
 background: -moz-linear-gradient(top, black, #3c3c3c 1px, #292929 25px);
 background: -webkit-gradient(linear, left top, left 25, from(black), color-stop(4%, #3c3c3c), to(#292929));
 border-right: 1px solid #3c3c3c;
 border-left: 1px solid #292929;
 border-bottom: 1px solid #232323;
 border-top: 1px solid #545454;
}

#nav li a:hover {
 background: #2a0d65;
 background: -moz-linear-gradient(top, #11032e, #2a0d65);
 background: -webkit-gradient(linear, left top, left bottom, from(#11032e), to(#2a0d65));
}


/* Submenu */

.hasChildren {
	position: absolute;
	width: 5px; height: 5px;
	background: black;
	right : 0;
	bottom: 0;
}

#nav li ul {
 display: none;
 position: absolute;

 top: 100%;
 padding: 0; margin: 0;
}

#nav li:hover > ul {
 display: block;
}

#nav li ul li, #nav li ul li a {
 float: none;

}

#nav li ul li {
 _display: inline; /* for IE6 */
}

#nav li ul li a {
 width: 150px;
 display: block;

}

/* SUBSUB Menu */

#nav li ul li ul {
 display: none;

}

#nav li ul li:hover ul {
 left: 100%;
 top: 0;

}




.newLeft ul
{
    display: none;
}
.newLeft ul{
    list-style-type: none;
   clear: both;
   overflow: hidden;
   line-height: 34px;
}

.newLeft:target {
    text-decoration: none;
    display:block;
    position:absolute;left:50px;top:100px;
    color: blue;
}

.newleft
{
	padding-left:16px;
	padding-top:7px;
	padding-bottom:10px;
	border-bottom: 1px solid #ffffff;
    background:#5186bc;
	background-image:url(../images/lmenu.jpg);
	background-repeat:no-repeat;
    font: 13px Arial;
    color: #e5eff6;
	font-weight:normal;
    text-decoration:none;
    white-space: nowrap;
    position: relative;
	display:block;
}

.newLeft li{

    list-style-type: none;

}

